<section class="skills">
  <div class="skills-content">
    <div class="hard-skills flex-center">
      <%= image_tag "hard-skills.png", class:"actual-skill-icon"%>
      <div class="skill-items">
        <div class="actual-item">
          <p>LANGUAJES</p>
          <ul>
            <li>JAVASCRIPT</li>
            <li>HTML</li>
            <li>CSS</li>
          </ul>
        </div>
        <div class="actual-item">
          <p>LIBRARY / FRAMEWORK</p>
          <ul>
            <li>NODE.JS</li>
            <li>EXPRESS</li>
            <li>SASS</li>
          </ul>
        </div>
        <div class="actual-item">
          <p>DB / CLOUD </p>
          <ul>
            <li>FIREBASE</li>
            <li>MONGODB</li>
          </ul>
        </div>
        <div class="dev-item">
          <p>DEV TOOLS</p>
          <div>
            <ul>
              <p>DEBUG <span class="slash">/</span> TESTING</p>
              <li>JEST</li>
              <li>ESLINT</li>
            </ul>
            <ul>
              <p>VERSIONING <span class="slash">/</span> COLLABORATIVE</p>
              <li>GITHUB + PROJECTS</li>
              <li>GIT</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="soft-skills flex-center">
      <%= image_tag "soft-skills.svg", class:"actual-skill-icon"%>
      <div class="skill-items">
        <div class="soft-item">
          <%= image_tag "creativity.svg", class:"soft-skill-item"%>
          <p>CREATIVITY</p>
        </div>
        <div class="soft-item">
          <%= image_tag "teamwork.svg", class:"soft-skill-item"%>
          <p>TEAM-WORK</p>
        </div>
        <div class="soft-item">
          <%= image_tag "problem-solving.svg", class:"soft-skill-item"%>
          <p>PROBLEM-SOLVING</p>
        </div>
        <div class="soft-item">
          <%= image_tag "adaptability.svg", class:"soft-skill-item"%>
          <p>ADAPTABILITY</p>
        </div>
        <div class="soft-item">
          <%= image_tag "good-comunication.svg", class:"soft-skill-item"%>
          <p>GOOD COMUNICATION</p>
        </div>
      </div>
    </div>
  </div>
</section>
